@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sistema Acadêmico em MVC</h1>
    <p></p>
    <h1 class="display-10">Alunos: Leonardo Paiva e Edgar</h1>
</div>
